html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.everything {
  max-height: 500;
  position: relative;
  overflow: hidden;
}

h2 {
  font-size: 3rem;
  margin: 0;
  width: 7em;
  line-height: 1.2;
  font-weight: bold;
}

p {
  display: block;
  font-size: 1.5rem;
  width: 15em;
  margin-top: 1rem;
  line-height: 1.5;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1em;
  width: 100%;
  max-width: 45em;
  padding-left: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.background {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  width: 100%;
}

.img-flex {
  width: 100%;
  display: block;
}

.logo {
  display: inline;
  margin-right: 0;
  padding-right: 3rem;
  vertical-align: top;
}

.content {
  display: inline;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: .45em .75em .5em;
  border-radius: 8px;
  text-decoration: none;
  display: inline;
}

.btn-big {
  font-size: 1.4rem;
  margin: auto;
  padding-top: .6em;
  padding-bottom: .6em;
}

.btn:hover {
  background-color: #000;
}
