html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.everything {
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: row;
  align-items: stretch;
}

.banner {
  display: flex;
  max-width: 45em;
  position: absolute;
  justify-content: center;
  align-items: top;
}

.logo {
  display: block;
}

.logo img {
  display: block;
  width: 100%;
  max-width: 45em;
}

.content {
  display: block;
}

h2 {
  padding-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 5px;
  margin-bottom: 1.5rem;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: .45em .75em .5em;
  border-radius: 8px;
  text-decoration: none;
  display: inline;
}

.btn-big {
  font-size: 1.4rem;
  margin: auto;
  padding-top: .6em;
  padding-bottom: .6em;
}

.btn:hover {
  background-color: #000;
}
