html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  display: block;
  font-size: 3rem;
  margin: 0;
  width: 7em;
}

p {
  display: block;
  font-size: 1.5rem;
  width: 15em;
  margin-top: 1rem;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: top;
  position: absolute;
  bottom: 1em;
  width: 100%;
  max-width: 45em;
  padding-left: 1em;
  top: 50%;
  transform: translateY(-50%);
  padding: auto;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  width: 100%;
  display: block;
}

.card {
}

.logo {
  display: inline;
  width: 100%;
  max-width: 20em;
  margin-right: 0;
}

.content {
  display: inline;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: .45em .75em .5em;
  border-radius: 8px;
  text-decoration: none;
  display: inline;
}

.btn-big {
  font-size: 1.4rem;
  margin: auto;
  padding-top: .378em;
  padding-bottom: .378em;
}

.btn:hover {
  background-color: #000;
}
